
@import url(http://reset5.googlecode.com/hg/reset.min.css);

@import url(http://fonts.googleapis.com/css?family=Droid+Serif:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.centrado{
	margin: 0 auto;
	width: 70%;
}

nav{
	background: #fff;
	width: 100%;	
	color:#fff;
}

nav #logotipo{
	background: #A60E17;
	color: #fff;
	font-family: 'Droid Serif', serif;
	font-weight: 700;
	display: inline-block;
	padding: 1em;
	font-size: 1.5rem;
	text-transform: uppercase;
}

nav ul {
	float: right;
}

nav ul li{
	list-style: none;
	display: inline-block;
}

nav ul li form{
	padding-top: 1.3em;
}

nav ul li form input{
	padding: 5px;
	border: none;
	border: 3px solid #383838;
}

nav ul li form input:focus{	
	border: 3px solid #74AC28;
}


nav ul li form input[type="submit"]{
	width: 100px;
	height: 34px;
	font-size: 1em;
	background: #A60E17;
	border: none;
	color: #fff;
	display: inline-block;
}

nav ul li form input[type="submit"]:hover{
	background: #D6121C;
	border: 3px solid #A60E17;
	cursor: pointer;
}

nav ul li a{
	padding: 1.7em 1em 1.5em 1em;	
	color: #fff;
	display: block;
	text-decoration: none;
}

nav ul li a:hover{	
	background: #A60E17;
}


header{	
	background: url('../img/2.jpg') center repeat-x;
	background-size: cover;
	text-align: center;
	-webkit-box-shadow: inset 0px -18px 126px 67px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px -18px 126px 67px rgba(0,0,0,0.75);
	box-shadow: inset 0px -18px 126px 67px rgba(0,0,0,0.75);
}

header img{
	padding-top: 3em;
	padding-bottom: 3em;
}

#peleas{
	background: #A60E17;	
	text-align: center;
	padding: 1em;
}

#peleas img{
	width: 760px;
}

#entrada{	
	padding: 2em;

	display: block;
}

article{
	background: url(../img/dark.jpg);
	min-height: 100px;
}

.boton {
	margin: 2em;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	padding: 12px 20px;
	font-size: 24px;
	border-radius: 10px;
	background-color: #727272;	
	position: relative;	
	border-bottom: 1px solid rgba(255,255,255,0.8);
	display: inline-block;
	font-family: Arial, Helvetica, sans;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
}

.boton:hover {
	/*box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);*/
	color: #fff !important;
}

.boton:active {
	top: 7px;
	box-shadow: 0 2px 0 #393939, 0px 4px 4px rgba(0,0,0,0.4), inset 0px 2px 5px rgba(0,0,0,0.2);	
	color: #fff !important;
}

.formaBoton {
	border-radius: 5px;	
	padding-left: 25px;
	padding-right: 25px;
}

.colorNegro {	
	background-color: #727272;	
	box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);

}

.colorRojo:hover {
	box-shadow: 0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
}


